body {
  background-color: #0E1014;

}

.page {
  font-family: 'Inter', sans-serif;
  min-width: 320px;
  margin: 0 auto;
  width: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;

}

.page::before {
  width: 100%;
  background-color: #0E1014;
}

.header {
  max-width: 1140px;
  padding-top: 46px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}


.logo__img {
  padding-top: 11px;
  width: 140px;
  height: 24px;
}

.logo__text {
  padding-top: 10px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  max-width: 140px;
  color: #E4E5EA;
}

.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding-left: 52px;
  padding-top: 15px;
  padding-right: 105px;
}

.header__menu-item {
  list-style-type: none;

}

.header__menu-item a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #E4E5EA;
  margin-right: 30px;
}

.header__menu-item:last-child {
  margin-right: 0;

}

.header__phone {
  padding-top: 15px;
  padding-right: 47px;
}

.header__phone a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #E4E5EA;
}

.header__icons {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding-top: 14px;
  padding-left: 0;
}

.header__icons-item:nth-child(2) {
  margin-left: 30px;
  margin-right: 30px;
}

.header__icons-item a {
  text-decoration: none;
}

.content {
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 105px;
}

.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.intro__title {
  padding-top: 40px;
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  max-width: 362px;
  color: #E4E5EA;
}

.intro__title-s {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  max-width: 262px;
  color: #E4E5EA;
  margin: 0;
  padding-top: 30px;
}

.intro__column-right {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;


}

.intro__subtitle {
  margin: 0;
  padding-bottom: 40px;
  padding-right: 0;
  max-width: 280px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #E4E5EA;
}

.intro__subtitle span {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.intro__offers {
  margin: 0;
  display: grid;
  grid-template-columns: 135px 135px;
  grid-template-rows: repeat(2, min-content);
  grid-column-gap: 1.9375rem;
  grid-row-gap: 2.25rem;
}
@media screen and (min-width: 916px) {
.intro__offers_m {
  display: none;
}
}
.intro__offers li {
  list-style-type: none;
}

.intro__offers-title {
  margin: 0;
  padding-bottom: 6px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #E4E5EA;
}

.intro__offers-text {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #E4E5EA;
}

.intro__button {
  display: inline-block;
  width: 262px;
  height: 61px;
  border-radius: 0;
  border: 0;
  margin-top: 61px;
  margin-bottom: 69px;
}

.intro__button_blue {
  background-color: #4077F3;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #E4E5EA;

}

.intro__button_blue:hover {
  opacity: .8;
  cursor: pointer;
}

.intro__button_blue:focus {
  outline: none;
}

.footer {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

}

.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__headline {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #656566;
  padding-bottom: 20px;
}

.footer__headline p {
  margin: 0;
}

.link-list {
  margin: 0;
  padding: 0;
}


.link-list li {
  list-style-type: none;
  margin-bottom: 10px;
}

.link-list li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #E4E5EA;
}

.link-list-menu {
  display: flex;
  flex-direction: row;
}

.menu-links:nth-child(2) {
  padding-left: 52px;
}


.footer__icons-item:nth-child(2) {
  margin-left: 10px;
  margin-right: 10px;
}

.footer__icons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.mr0 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__telephone a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #E4E5EA;
}

.footer__adress a {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.footer__author{
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.author {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  color: #E4E5EA;
  margin: 0;
  padding-top: 70px;
}

.policy {
  margin-top: 5px;
  padding-bottom: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  text-decoration-line: underline;
  color: #E4E5EA;
}

.background__circl1 {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 868px;
  top: -2px;
  border-radius: 50%;
  background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%);
  box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
  filter: blur(3px);
  backdrop-filter: blur(2px);

}

.background__circl2 {
  position: absolute;
  width: 83px;
  height: 83px;
  left: 519px;
  top: 83px;
  border-radius: 50%;
  background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.536) 0%, rgba(212, 93, 93, 0.264) 59.67%, rgba(167, 49, 49, 0.248) 78.59%, rgba(130, 25, 25, 0.248) 100%);
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  backdrop-filter: blur(2px);
  z-index: -1;
}

.background__circl3 {
  position: absolute;
  width: 259px;
  height: 259px;
  left: 602px;
  top: -154px;
  border-radius: 50%;
  background: #833AB4;
  opacity: 0.2;
  filter: blur(380px);
  z-index: -1;
}

.background__circl4 {
  position: absolute;
  width: 311px;
  height: 311px;
  left: -102px;
  top: 251px;
  border-radius: 50%;
  background: #961A1A;
  opacity: 0.2;
  filter: blur(380px);
  z-index: -2;
}

.background__circl5 {
  position: absolute;
  width: 28px;
  height: 28px;
  left: 851px;
  top: 547px;
  border-radius: 50%;
  background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.48) 0%, rgba(212, 93, 93, 0.248) 59.67%, rgba(167, 49, 49, 0.264) 78.59%, rgba(130, 25, 25, 0.232) 100%);
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  filter: blur(2.5px);
  backdrop-filter: blur(2px);
}